<html>
    <head>
        <title>Remotestick</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <script src="jquery-1.4.4.min.js">
        </script>
        <script src="microtemplates.js">
        </script>
        <script src="theme/js/jquery-ui-1.8.7.custom.min.js">
        </script>
        <link REL="StyleSheet" type="text/css" href="theme/css/dark-hive/jquery-ui-1.8.7.custom.css">
        </link>
        <link REL="StyleSheet" type="text/css" href="style.css">
        </link>
        <script type="text/html" id="device_list_template">
            <div class="device-list-border">
                <div class="device-list-description">
                    <%=obj.description %>
                </div>
                <div class="device-list-controls">
                    <div class="onOff">
                        <div id="radio<%=obj.id%>">
                            <input type="radio" id="off<%=obj.id%>" name="radio<%=obj.id%>"<% if(obj.last_command != "ON") { %> checked="checked"<%} %>onclick="turnOff(<%=obj.id %>);"/>
                            <label for="off<%=obj.id%>">
                                Off
                            </label>
                            <input type="radio" id="on<%=obj.id%>" name="radio<%=obj.id%>"<% if(obj.last_command == "ON") { %> checked="checked"<%} %>onclick="turnOn(<%=obj.id %>);"  />
                            <label for="on<%=obj.id%>">
                                On
                            </label>
                        </div>
                    </div>
                    <% if(obj.dimmer) { %>
                    <div class="slide" id="dim<%=obj.id%>">
                    </div>
                    <% } %>
                    <dir class="clear">
                    </dir>
                </div>
            </div>
        </script>
        <script type="text/javascript">
            function turnOn(id){
                $.ajax({
                    url: "../devices/" + id + "/on.xml"
                });
            };
            function turnOff(id){
                $.ajax({
                    url: "../devices/" + id + "/off.xml"
                });
            };
            function dim(id, level){
                $.ajax({
                    url: "../devices/" + id + "/dim/" + level + ".xml"
                });
            };
            function device(id, description, last_command, dimmer){
                var self = this;
                self.description = description;
                self.id = id;
                self.last_command = last_command;
                self.dimmer = dimmer;
                return self;
            };
            
            function turnAllOn(){
                $(devices).each(function(index, value){
                    turnOn(value.id);
                });
            };
            
            function turnAllOff(){
                $(devices).each(function(index, value){
                    turnOff(value.id);
                });
            };
            
            var devices = new Array();
            
            function loadDevices(){
                var template = window.tmpl("device_list_template");
                
                $('#devices').html('');
                $.ajax({
                    url: "../devices.xml",
                    success: function(xml){
                        $(xml).find('device').each(function(){
                            var d = $(this);
                            var id = d.attr("id");
                            var lastcmd = d.find('lastcmd').text();
                            var description = d.find('name').text();
                            var dimmer = false;
                            d.find('supportedMethod').each(function(){
                                var m = $(this);
                                if (m.text() == "TELLSTICK_DIM") {
                                    dimmer = true;
                                }
                            });
                            
                            var dev = new device(id, description, lastcmd, dimmer);
                            devices.push(dev);
                            var temp = template(dev);
                            
                            
                            $('#devices').append(temp);
                            $("#radio" + id).buttonset();
                            $('#dim' + id).slider({
                                min: 0,
                                max: 100,
                                slide: function(event, ui){
                                    dim(id, ui.value);
                                },
                                range: "min"
                            });
                            
                        });
                        
                        
                    }
                });
                
                
            };
            
            function addDevice(device){
            
            };
        </script>
        <script type="text/javascript">
            function addDevice(){
                var max = 0;
                $(devices).each(function(index, value){
                    if (value > max) 
                        max = value;
                });
                var id = max++;
                
                var model = $('#model option:selected').val();
                var protocol = $('#protocol option:selected').val();
                var name = $('#protocol option:selected').val();
                var house = ((model == "codeswitch" || model == "bell") ? $('#house-alpha option:selected').val() : $('#house-numeric').val());
                var unit = model == "bell" ? null : $("#unit").val();
                addDevice({
                    id: id,
                    name: name,
                    protocol: protocol,
                    model: model,
                    house: house,
                    unit: unit
                });
            };
            
            function updateModel(){
                var model = $('#model option:selected').val();
                switch (model) {
                    case "bell":
                        $("#unit").hide();
                        $("#house-alpha").show();
                        $("#house-numeric").hide();
                        
                        break;
                        
                    case "codeswitch":
                        $("#unit").show();
                        $("#house-alpha").show();
                        $("#house-numeric").hide();
                        break;
                        
                    default:
                        $("#unit").show();
                        $("#house-alpha").hide();
                        $("#house-numeric").show();
                        
                }
            };
            
            $(function(){
                loadDevices();
                updateModel();
                $("#turnAllOff").button();
                $("#turnAllOff").click(function(){
                    turnAllOff();
                });
                $("#addDevice").button();
                $("#addDevice").click(function(){
                    $("#addDialog").dialog({
                        modal: true,
                        width: "250pt",
                        buttons: {
                            Cancel: function(){
                                $(this).dialog("close");
                            },
                            "Add": function(){
                                addDevice();
                                $(this).dialog("close");
                            }
                            
                        }
                    });
                });
                $("#turnAllOn").button();
                $("#turnAllOn").click(function(){
                    turnAllOn();
                });
                
                $("#model").change(function(){
                    updateModel();
                })
            });
        </script>
        </head>
        <body class="ui-widget-content">
            <div id="addDialog" title="Add device" class="dialog">
                <p>
                    <form>
                        <input name='id' type="hidden" value="">
                        </input>
                        <table>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    <input name='name' type="text">
                                    </input>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Protocol
                                </td>
                                <td>
                                    <select id="protocol">
                                        <option>arctech</option>
                                        <option>brateck</option>
                                        <option>everflourish</option>
                                        <option>ikea</option>
                                        <option>risingsun</option>
                                        <option>sartano</option>
                                        <option>upm</option>
                                        <option>waveman</option>
                                        <option>x10</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Model
                                </td>
                                <td>
                                    <select id="model">
                                        <option value="selflearning-switch">Selflearning on/off</option>
                                        <option value="selflearning-dimmer">Selflearning dimmer</option>
                                        <option value="bell">Bell</option>
                                        <option value="codeswitch">Code switch</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    House
                                </td>
                                <td>
                                    <input name="house-numeric" type="text" id="house-numeric">
                                    </input>
                                    <select name="house-alpha" id="house-alpha">
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <option>D</option>
                                        <option>E</option>
                                        <option>F</option>
                                        <option>G</option>
                                        <option>H</option>
                                        <option>I</option>
                                        <option>J</option>
                                        <option>K</option>
                                        <option>L</option>
                                        <option>M</option>
                                        <option>N</option>
                                        <option>O</option>
                                        <option>P</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="unit">
                                <td>
                                    Unit
                                </td>
                                <td>
                                    <input name="unit" type="text">
                                    </input>
                                </td>
                            </tr>
                        </table>
                    </form>
                </p>
            </div>
            <div class="header ui-widget-header">
                <div class="left">
                    <div class="button" id="turnAllOff">
                        All Off
                    </div>
                </div>
                <div class="center">
                    <div class="button" id="addDevice">
                        Add
                    </div>
                </div>
                <div class="right">
                    <div class="button" id="turnAllOn">
                        All On
                    </div>
                </div>
                <div class="headerbottom">
                </div>
            </div>
            <div id="devices" class="device-list">
            </div>
            <div class="links">
                <a href="https://github.com/pakerfeldt/remotestick/wiki/REST-API">Api</a>
                <a href="https://github.com/pakerfeldt/remotestick/wiki/REST-API:-Devices">Devices</a>
                <a href="https://github.com/pakerfeldt/remotestick/wiki/REST-API:-Methods">Methods</a>
            </div>
        </body>
    </html>
