body {
	background-color: #373737;
	color: white;
	padding: 0pt;
	margin:0pt;
}
.clear {
	clear:both;
}
.slide {
	width:100pt;
	float:right;
	margin: 10pt;
}

.onOff{
	float:right;
	clear:right;
}
.device-list-description {
	font-size: 18pt;
}
.device-list-controls{
	text-align:right;
}
.device-list-border {
	padding: 5pt;
	border-bottom: 1pt solid grey;
	font-size: 11pt;
	
}
.device-list {
	clear:both;
	width: 100%;
	max-width: 300pt;
}

.links {
	text-align: center;	
}
.header {
	
}

.right {
	float: right;
	text-align: right;
	width:33%
}

.left {
	float: left;
	text-align: left;
	width:33%
}

.center {
	float: left;
	text-align: center;
	width:33%
}

.button  {
	margin: 5pt;
}

.header {
	background-color: black;
	
	width:100%
	padding: 5pt;
}
.headerbottom {
	clear:both;
	border-bottom: 1pt solid #2f2f2f 
}
